.tabs {
    margin-top: 20px;
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 0px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:6px 6px 0px 0px;
    background: #0c0c0c;
    font-size:16px;
    font-weight:600;
    color: #f6fdff;
    transition:all linear 0.15s;
    text-decoration: none;
}
.tab-links ul{
    margin-bottom: 0px;
}
.tab-links a:hover {
    background: #5f4e49;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
    border-top: 1px groove;
    border-left: 1px groove;
    border-right: 1px groove;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:10px;
    border-radius:5px;
    box-shadow:-2px 3px 3px 2px rgba(243, 210, 197, 0.63);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}